<!DOCTYPE html>
<html>
    <head>
        <title>NorCal Time Trial Series</title>
        <link rel="stylesheet" href="../assets/styles/task-1.css">
    </head>
    <body>
       
        <div class="title -container">
            <h1>NorCal Time Trial Series</h1>
             <nav class='nav'>
            <ul>
                <li><a href='./task-1.html'>Home</a></li>|
                <li><a href='./about-us.html'>About Us</a></li>|
                <li><a href='./contact.html'>Contact</a></li>|
            </ul>
           </nav>
        </div>

        <div class='images'>
            <img src="../assets/logo.png" width='150' alt='Logo'></br></br></br>
            <img src="../assets/image-1.png" width='150' alt='racing car image'>
       </div>

        <div class='Event'>
            <h3>Upcoming Event</h3>    
        </div>

        <div class='schedual'>
            <h4>February 12,<br/> Board Meeting<br /><br />February 25,<br/>Drivers Zoom Meeting<br /><br />March 12,<br/>First event at Thunderhill</h4>
        </div>
        </body>
</html>

